# Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.suo

# Build folders
x64/
bin/
build/
Debug/
Release/

#External Include Lib

# Shader cache
*.spv
*.cache

# OS files
Thumbs.db
.DS_Store

# --- NEW: Assets & Textures ---
# Common Images
*.png
*.jpg
*.jpeg
*.tga
*.bmp
*.psd

# Vulkan/Graphics Textures (Quan trọng cho Game Engine)
*.dds
*.ktx
*.astc

# 3D Models (Thường đi kèm texture, nên ignore luôn nếu nặng)
*.obj
*.fbx
*.gltf
*.glb
*.assbin